extends layouts/main

include mixins/smallVideo
include mixins/comment

block content
    .detail 
        .detail__main
            .video-player
            h3.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            div.video__author
                span By 
                a(href=routes.user(video.author.id))=video.author.name
            .comments
                if comments.length === 1
                    span.comments__count 1 video
                else
                    span.comments__count #{comments.length} comments
                form.comments__form
                    .comments__user(style={'background-image':`url(${user.avatarUrl})`})
                    textarea.comments__textarea(placeholder="Add a comment")
                ul.comments__list
                    each comment in comments
                        +comment({
                            username: comment.author.name,
                            timestamp: comment.createdAt,
                            content: comment.comment,
                            authorId: comment.author._id
                        })
        .detail__related
            +smallVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                author:'Nicolas',
            })
            +smallVideo({
                id:1,
                thumbnail:"https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/45614006_2054343997955112_419649091144777728_n.jpg?_nc_cat=101&_nc_ht=scontent-hkg3-1.xx&oh=c302e79002cf8cc8f3ce118d83f41b5f&oe=5C8870BA",
                title:'Love this',
                views:40,
                author:'Nicolas',
            })