extends layouts/main

include mixins/smallVideo
include mixins/comment
include mixins/videoPlayer

block content
    .detail 
        .detail__main
            +videoPlayer({
                src:video.fileUrl
            })
            if isAuthor
                a(href=routes.editVideo(video.id))
                    button.video__edit-btn Edit Video
            h3.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            div.video__author
                span By 
                a(href=routes.user(video.author.id))=video.author.name
            .comments
                if comments.length === 1
                    span.comments__count 1 video
                else
                    span.comments__count
                        span#js-countNumber #{comments.length}
                        span  comments
                if user
                    form.comments__form#js-commentForm
                        .comments__user(style={'background-image':`url(${user.avatarUrl})`})
                        input.comments__textarea(placeholder="Add a comment", type="text")
                        
                    ul.comments__list#js-commentList
                        each comment in comments
                            +comment({
                                username: comment.author.name,
                                timestamp: comment.createdAt,
                                content: comment.comment,
                                authorId: comment.author._id,
                                authorAvatar: comment.author.avatarUrl
                            })
                else
                    div.video__author
                        a(href=routes.login) Log In to Comment
        .detail__related
            each video in related
                +smallVideo({
                    id:video.id,
                    thumbnail:video.fileUrl,
                    title:video.title,
                    views:video.views,
                    author:video.author.name,
                })
            