extends layouts/main

block content
    .auth
        form.auth__form(action=routes.join, method="POST")
            input.auth__input(type="text", placeholder="Full name", required=true, name="name")
            input.auth__input(type="text", placeholder="Email", required=true, name="email")
            input.auth__input(type="password", placeholder="Password", required=true, name="password")
            input.auth__input(type="password", placeholder="Verify Password", required=true, name="verifyPassword")
            input.auth__btn(type="submit", value="Submit")
        include partials/social