mixin video(video = {})
    .video
        div.video__thumbnail(style={'background-image':`url(${video.thumbnail})`})
        h3.video__title= video.title
        .video__data
            span.video__date= video.timestamp
            if video.views === 1
                span.video__views #{video.views} view
            else
                span.video__views #{video.views} views